.shadow {
    font-weight: 700;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    text-shadow: -4px 4px black;
}

.name {
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-shadow: -3px 4px white;
}

.buffer {
    margin: 80px;
    position: relative;
    height: 400px;
    margin-bottom: 100px;
}

.motto {
    margin: auto;
    position: relative;
    top: 50%;

}