.site-top {
	position: relative;
	z-index: 4;
	background-image: url(../images/MyMan.jpg);
	background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
	background-attachment: fixed;
	min-height: 100%;
	margin-bottom: 40px;
	padding-bottom: 60px;
}

.site-header {
	padding-top: 40px;
}
.site-brand {
	color: $white;
	text-transform: uppercase;
	font-size: 18px;
	strong {
		font-size: 24px;
		font-family: 'robotobold';
	}
	@include media(max-width $phone) {
		float: none !important; 
		text-align: center;
		display: block;
		margin-bottom: 30px;
	}
}